@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dot {
  0%, 20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-dot {
  animation: dot 1.4s infinite;
  opacity: 0;
}